/*
* Colors
* "black", "white", "gray", "silver", "maroon", "red", "purple",
* "hotpink", "green", "lime", "olive", "yellow", "navy", "blue",
* "teal", and "aqua"
*/
.dress{
    .black{
        color: black;
    }
    .white{
        color: white;
    }
    .gray{
        color: gray;
    }
    .silver{
        color: silver;
    }
    .maroon{
        color: maroon;
    }
    .red{
        color: red;
    }
    .purple{
        color: purple;
    }
    .hotpink{
        color: hotpink;
    }
    .green{
        color: green;
    }
    .lime{
        color: lime;
    }
    .olive{
        color: olive;
    }
    .yellow{
        color: yellow;
    }
    .navy{
        color: navy;
    }
    .blue{
        color: blue;
    }
    .teal{
        color: teal;
    }
    .aqua{
        color: aqua;
    }
}
/*
* Color Background
*/
.dress {
    .bg-black{
        background-color: black;
    }
    .bg-white{
        background-color: white;
    }
    .bg-gray{
        background-color: gray;
    }
    .bg-silver{
        background-color: silver;
    }
    .bg-maroon{
        background-color: maroon;
    }
    .bg-red{
        background-color: red;
    }
    .bg-purple{
        background-color: purple;
    }
    .bg-hotpink{
        background-color: hotpink;
    }
    .bg-green{
        background-color: green;
    }
    .bg-lime{
        background-color: lime;
    }
    .bg-olive{
        background-color: olive;
    }
    .bg-yellow{
        background-color: yellow;
    }
    .bg-navy{
        background-color: navy;
    }
    .bg-blue{
        background-color: blue;
    }
    .bg-teal{
        background-color: teal;
    }
    .bg-aqua{
        background-color: aqua;
    }
}
/*
* Color Border
*/
.dress {
    .border-black{
        border-color: black;
    }
    .border-white{
        border-color: white;
    }
    .border-gray{
        border-color: gray;
    }
    .border-silver{
        border-color: silver;
    }
    .border-maroon{
        border-color: maroon;
    }
    .border-red{
        border-color: red;
    }
    .border-purple{
        border-color: purple;
    }
    .border-hotpink{
        border-color: hotpink;
    }
    .border-green{
        border-color: green;
    }
    .border-lime{
        border-color: lime;
    }
    .border-olive{
        border-color: olive;
    }
    .border-yellow{
        border-color: yellow;
    }
    .border-navy{
        border-color: navy;
    }
    .border-blue{
        border-color: blue;
    }
    .border-teal{
        border-color: teal;
    }
    .border-aqua{
        border-color: aqua;
    }
}